.detail-card {
    text-align: left;
}

.button-row {
    justify-content: center;
}

.student-body {
    justify-content: center;
}

.student-details {
    padding-left: 75px;
}

.student-address {
    padding-left: 30px;
}
